.header {
    display: grid;
    background-color: #A8D9D0;
    color: #424222;
    align-content: center;
    text-align: center;
    grid-area: header;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        '. title title title title .'
        '. home places shops misc .'
}

.title {
    grid-area: title;
}
.home{
  text-align: center;
  align-items: center;
  display: grid;
  background-color: rgba(240, 223, 117, 1);
  grid-area: home;
  text-decoration: none;
}
    .home:hover {
      background-color: rgba(240, 230, 120, 1);
      color: #919191;
    }
.places{
  text-align: center;
  align-items: center;
  display: grid;
  background-color: rgba(240, 223, 117, 1);
  grid-area: places;
  text-decoration: none;
}
    .places:hover {
      background-color: rgba(240, 230, 120, 1);
      color: #919191; }
.shops{
  text-align: center;
  align-items: center;
  display: grid;
  background-color: rgba(240, 223, 117, 1);
  grid-area: shops;
  text-decoration: none;
}
    .shops:hover {
      background-color: rgba(240, 230, 120, 1);
      color: #919191; }
.misc {
  text-align: center;
  align-items: center;
  display: grid;
  background-color: rgba(240, 223, 117, 1);
  grid-area: misc;
  text-decoration: none;
}
    .misc:hover {
      background-color: rgba(240, 230, 120, 1);
      color: #919191; }
.footer {
    background-color: #A8D9D0;
    color: #424222;
    align-content: center;
    text-align: center;
    grid-area: footer;
    text-decoration: none;
}
h3, h1 {
    color: white;
}
.div1 {
    display: grid;
    align-content: center;
    text-align: center;
    background-color: #F57A97;
    grid-area: div1;
    font-size: 25px;
}
.div2 {
    display: grid;
    background-color: #F49D6E;
    grid-area: div2;
    align-content: center;
    text-align: center;
    font-size: 25px;
}
.div3 {
    display: grid;
    background-color: #ABC8C0;
    grid-area: div3;
    align-content: center;
    text-align: center;
    font-size: 25px;
}
a {
    display: block;
    text-decoration: none;
    color: black;
}

.site{
    grid-gap: 3px;
    max-width: 99%;
    max-height: 90%;
    font-family: 'Sunflower', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        'header header'
        'div1 div1'
        'div2 div2'
        'div3 div3'
        'footer footer';
}
html {
    background-color: #CDF0E6;
    height: 100%;
    width: 100%;
}
